
nav {

.navbar-brand{
    font-size: 34px;
  color: #000000;
  font-family: Montserrat;
}
.nav-link{
    font-family: Poppins;
    font-size: 16px;
}
.navbar-nav{
    gap: 75px;
    color: #000000;
}
.nav-icons{
    gap: 45px;
}
}

.hero-section {
  height: 90vh;
  background: url("../img/hero.webp") center/cover no-repeat;
  font-family: Poppins;
}
.hero-content{
    background-color: #FFF3E3;
}
.hero-content{

    .content{
        font-size: 18px;
        letter-spacing: 0.15em;
    }
    h1{
        color: #B88E2F;
        font-size: 52px;
    }
    .btn{
        background-color: #B88E2F;
        color: #ffff;
        padding: 25px 72px;
        margin-top: 46px;
        border-radius: 0%;
        font-size: 16px;
    }
}
.BrowseTheRange{
    font-family: Poppins;
    h2{
        font-size: 32px;
    }
    p{
        font-size: 20px;
    }
    h5{
        font-size: 24px;
    }
}
footer{
    font-family: Poppins;
}
footer p {
  color: #9F9F9F;
  font-size: 14px;
  
}

footer h6 {
  font-size: 16px;
  font-weight: 500; 
  color: #9F9F9F;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}
footer  .p-end{
    color: #000000;
    font-size: 14px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer input::placeholder {
  font-size: 14px;
  color: #9F9F9F;

}

