
nav {

.navbar-brand{
    font-size: 34px;
  color: #000000;
  font-family: Montserrat;
}
.nav-link{
    font-family: Poppins;
    font-size: 16px;
}
.navbar-nav{
    gap: 75px;
    color: #000000;
}
.nav-icons{
    gap: 45px;
}
}

.hero-section {
  height: 90vh;
  background: url("../img/hero.webp") center/cover no-repeat;
  font-family: Poppins;
}
.hero-content{
    background-color: #FFF3E3;
}
.hero-content{

    .content{
        font-size: 18px;
        letter-spacing: 0.15em;
    }
    h1{
        color: #B88E2F;
        font-size: 52px;
    }
    .btn{
        background-color: #B88E2F;
        color: #ffff;
        padding: 25px 72px;
        margin-top: 46px;
        border-radius: 0%;
        font-size: 16px;
    }
}
.BrowseTheRange{
    font-family: Poppins;
    h2{
        font-size: 32px;
    }
    p{
        font-size: 20px;
    }
    h5{
        font-size: 24px;
    }
}
.rooms-section {
    background-color: #FCF8F3;
    padding: 3px 0;
    overflow-x: hidden;
}

.text-section {
    padding-left: 48px;
    font-family: Poppins;
    h2{
        font-size: 40px;
    }
    .description {
        font-size: 16px;
         color: #6c757d;
         margin-bottom: 32px;
          line-height: 1.6;
    }
}

.explore-btn {
    background-color: #B88E2F;
    color: white;
    border: none;
    padding: 12px 32px;
    font-weight: 600;
    font-size: 16px;
    border-radius: 0%;
}

.explore-btn:hover {
    background-color: #9a7728;
    color: white;
}


.rooms-gallery {
    display: flex;
    gap: 24px;
    align-items: flex-start;
}

.room-big {
    width: 404px;
    height: 582px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}


.room-big-img {
    width: 404px;
    height: 582px;
    object-fit: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

.room-info-card {
    position: absolute;
    bottom: 24px;
    left: 24px;
    background: rgba(255, 255, 255, 0.492);
    padding: 20px;
    width: 217px;
    height: 130px;
}

.room-category {
    color: #616161;
    font-size: 16px;
    display: block;
    margin-bottom: 8px;
    font-weight: 500;
}

.room-name {
    font-size: 28px;
    font-weight: 700;
    color: #000;
    margin: 0;
    line-height: 1.2;
}


.arrow-button {
    position: absolute;
    right: 124px;
    bottom: 24px;
    width: 40px;
    height: 40px;
    background: #B88E2F;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: none;
    cursor: pointer;
    z-index: 5;
}

.arrow-button:hover {
    background: #9a7728;
    transform: scale(1.05);
}

.room-small {
    width: 372px;
    height: 486px;
    position: relative;
    margin-bottom: 48px;
}

.dots-container {
    position: absolute;
    bottom: -40px;
    left: 0;
    display: flex;
    gap: 16px;
    z-index: 10;
    align-items: center;
    padding-left: 20px;
}

.dot {
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: rgba(216, 216, 216, 0.6);
    display: block;
    position: relative;
    transition: all 0.3s;
}

.dot.active {
    width: 12px;
    height: 12px;
    background: #B88E2F;
}

.dot.active::after {
    content: '';
    position: absolute;
    top: -6px;
    left: -6px;
    right: -6px;
    bottom: -6px;
    border: 1px solid #B88E2F;
    border-radius: 50%;
    opacity: 0.5;
}

.dot:not(.active):hover {
    background: #b0b0b0;
    transform: scale(1.1);
}

@media (max-width: 991px) {

    .row {
        flex-direction: column;
    }

    .text-section {
        text-align: center;
        padding-left: 0;
        margin-bottom: 40px;
    }

    .rooms-gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 24px;
        justify-content: center;
    }

    .room-big {
        margin-left: auto;
        margin-right: auto;
    }

    .arrow-button {
        right: 124px;
        bottom: 24px;
    }
    .room-small {
        grid-column: 2 / 3;
    }

    .room-preview {
        display: none;
    }

}

@media (max-width: 861px) {

    .rooms-gallery {
        grid-template-columns:auto;
    }

    .room-small {
        display: none;
    }
    .arrow-button {
        display: none; }

    .room-big,
    .room-big-img {
        height: 380px;
    }

    .main-title {
        font-size: 28px;
    }

    .description {
        font-size: 14px;
    }
}
        
        

footer{
    font-family: Poppins;
}
footer p {
  color: #9F9F9F;
  font-size: 14px;
  
}

footer h6 {
  font-size: 16px;
  font-weight: 500; 
  color: #9F9F9F;
}

.fw-regular {
  font-weight: 400;
}

.fw-medium {
  font-weight: 500;
}
footer  .p-end{
    color: #000000;
    font-size: 14px;
}
.footer a:hover {
  text-decoration: underline;
}
.footer input::placeholder {
  font-size: 14px;
  color: #9F9F9F;

}
  
/*shop page*/
.shop-hero {
  height: 316px;
  background: url("../img/heroshop.webp") center/cover no-repeat;
  font-family: Poppins;
  font-size: 48px;
  p , span{
    font-size: 16px;
  }
}

.filter-bar{
    font-family: Poppins;
    background-color: #F9F1E7;
}
.filter-bar svg:hover {
  opacity: 0.6;
}

.filter-box {
  background-color: #fff;
  padding: 6px 16px;
  font-size: 14px;
  min-width: 50px;
  text-align: center;
}

.product-card-custom {
  position: relative;
  background: #f4f5f7;
  border-radius: 0;
  overflow: hidden;
  width: 100%;
  transition: 0.3s;
}
.img-wrapper {
  width: 100%;
}
.product-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  display: block;
}

.discount-badge {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 48px;
  height: 48px;
  background: #E97171;
  color: #fff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 13px;
  font-weight: 600;
  z-index: 2;
}
.new-badge{
    background: #2EC1AC;
}

.card-info {
  padding: 16px;
  background: #f4f5f7;
}

.product-title {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 24px;
  line-height: 120%;
  letter-spacing: 0;
}

.product-desc {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0;
  color: #898989;
}

.price-section {
  display: flex;
  gap: 10px;
  align-items: center;
}

.current-price {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 150%;
}

.old-price {
  font-family: 'Poppins', sans-serif;
  text-decoration: line-through;
  color: #B0B0B0;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
}

.overlay-content {
  position: absolute;
  inset: 0;
  background: rgba(58, 58, 58, 0.72);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 15px;
  opacity: 0;
  transition: 0.3s;
  color: #fff;
}

.product-card-custom:hover .overlay-content {
  opacity: 1;
}

.add-cart-btn {
  background: #fff;
  color: #b88e2f;
  border: none;
  padding: 10px 30px;
  font-weight: 600;
  cursor: pointer;
}

.action-icons {
  display: flex;
  gap: 20px;
}

.action-item {
  background: transparent;
  border: none;
  color: #fff;
  display: flex;
  align-items: center;
  gap: 6px;
  cursor: pointer;
  font-size: 14px;
}

.action-item:hover {
  opacity: 0.8;
}

.pagination-custom {
font-family: 'Poppins', sans-serif;
  display: flex;
  justify-content: center;
  gap: 38px;
  margin-top: 60px;
}

.page-btn {
  width: 60px;
  height: 60px;
  border: none;
  border-radius: 10px;
  background-color: #F9F1E7; 
  color: #000;
  font-size: 18px;
  cursor: pointer;
  transition: 0.3s;
}

.page-btn.active {
  background-color: #B88E2F; 
  color: white;
}

.next-btn {
  width: 98px;
}



