nav {

nav .img-fluid{
    width: 50px;
    height: 32px;
    
}
.navbar-brand{
    font-size: 34px;
  color: #000000;
  font-family: Montserrat;
}
.nav-link{
    font-family: Poppins;
    font-size: 16px;
}
.navbar-nav{
    gap: 75px;
    color: #000000;
}
.nav-icons{
    gap: 45px;
}
}